process {

  container = 'iracooke/mod2s:0.1'
  cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
  memory = { check_max( 6.GB * task.attempt, 'memory' ) }


  withName: 'd2s_pair'{
      cpus            = { check_max( 12 * task.attempt, 'cpus' ) }
      memory          = { check_max( 4.GB * task.attempt, 'memory' ) }
      queue = 'normal'
  }

  withName: 'jellyfish_count'{
      cpus            = { check_max( 12 * task.attempt, 'cpus' ) }
      memory          = { check_max( 10.GB * task.attempt, 'memory' ) }
      queue = 'normal'
  }

  withName: 'get_mapped_reads'{
      cpus            = { check_max( 12 * task.attempt, 'cpus' ) }
      memory          = { check_max( 10.GB * task.attempt, 'memory' ) }
      queue = 'normal'
  }


}

params.base_path="${launchDir}"
params.max_cpus=64
params.max_memory=200.GB
